rabbit.host=
rabbit.port=
rabbit.virtualhost=
rabbit.username=
rabbit.password=
rabbit.queuename=
rabbit.move_requests=

http.port=
http.host=
http.basepath=

fxp.maxactivethreads=

sensor.host=
sensor.port=
sensor.basepath=
sensor.path=
sensor.id=
sensor.username=
sensor.password=
sensor.minfreepercentage=

db.host=
db.port=
db.username=
db.password=
db.database=
db.eventstable=
db.buffer=

ftpDestination.vrt.username=
ftpDestination.vrt.password=
ftpDestination.vrt.host=
ftpDestination.vrt.path=

ftpDestination.provant.username=
ftpDestination.provant.password=
ftpDestination.provant.host=
ftpDestination.provant.path=

ftpDestination.rmm.username=
ftpDestination.rmm.password=
ftpDestination.rmm.host=
ftpDestination.rmm.path=

ftp.failuresFolder=

cp=