rabbit.host=
rabbit.port=
rabbit.virtualhost=
rabbit.username=
rabbit.password=
rabbit.queuename=
rabbit.no_xml=

rabbit.move.host=
rabbit.move.port=
rabbit.move.username=
rabbit.move.password=
rabbit.move.move_requests=

rabbit.fxp.host=
rabbit.fxp.port=
rabbit.fxp.username=
rabbit.fxp.password=
rabbit.fxp.move_requests=

pid.host=
pid.port=
pid.basepath=
pid.path=

sensor.host=
sensor.port=
sensor.basepath=
sensor.path=
sensor.id=
sensor.username=
sensor.password=
sensor.minfreepercentage=

db.host=
db.port=
db.username=
db.password=
db.database=
db.eventstable=
db.buffer=

ftpDestination.vrt.username=
ftpDestination.vrt.password=
ftpDestination.vrt.host=
ftpDestination.vrt.path=

ftpDestination.provant.username=
ftpDestination.provant.password=
ftpDestination.provant.host=
ftpDestination.provant.path=

ftpDestination.rmm.username=
ftpDestination.rmm.password=
ftpDestination.rmm.host=
ftpDestination.rmm.path=

ftp.failuresFolder=

cp=